<table class="table">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Name</th>
    <th scope="col">Height</th>
    <th scope="col">Evergreen</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let plant of plantList">
    <td>{{plant?.id}}</td>
    <td>{{plant?.plantName}}</td>
    <td>{{plant?.plantHeight}}</td>
    <td><i class="fa fa-leaf" [ngClass]="plant.isEvergreen ? 'text-success' : 'opacity-50'"></i></td>
    <td><i (click)="editPlant(plant)"
      class="fa fa-pencil text text-primary btn"></i></td>
  </tr>
  </tbody>
</table>
