<div class="h-100 w-100 d-flex justify-content-center align-items-center">
  <div class="card bg-dark text-light m-5 w-50 h-50 d-flex flex-column justify-content-around align-items-center p-5">
    <img src="https://picsum.photos/200" class="border rounded-circle mb-3"/>
    <p class="card-title">{{user?.name}}</p>
    <p class="card-text">{{user?.surname}}</p>
    <p class="card-text">{{user?.phoneNumber}}</p>
    <i class="btn fa fa-arrow-left fa-2x text-light" routerLink="/service"></i>
  </div>
</div>
