<h1>HOMEPAGE</h1>
<div class="d-flex w-100 h-100 justify-content-center align-content-center gap-5">
  <app-box-card [topic]="'BINDINGS'" [icon]="'fa-link fa-5x'">
    <button routerLink="/home"
            class="basicBtn"><i class="fa fa-arrow-right"></i></button>
  </app-box-card>
  <app-box-card [topic]="'DIRECTIVES'" [icon]="'fa-link fa-5x'">
    <button routerLink="/directives"
            class="basicBtn"><i class="fa fa- fa-arrow-right"></i></button>
  </app-box-card>
  <app-box-card [topic]="'INPUT OUTPUT'" [icon]="'fa-link fa-5x'">
    <button routerLink="/inputOutput"
            class="basicBtn"><i class="fa fa-arrow-right"></i></button>
  </app-box-card>
</div>


